* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-family: 'Press Start 2P';
  color: #38b338;
  margin-top: 30px;
}

body {
  background-color: black;
}

input {
  display: block;
  height: 60px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
  color: #38b338;
  background-color: transparent;
  border-style: none;
  border: 2px solid #38b338;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #38b338;
  background-color: transparent;
  border-style: none;
  border: 2px solid #38b338;
  font-size: 40px;
}

div {
  /* border: solid 2px white; */
  color: #38b338;
  margin-top: 50px;
  font-size: 30px;
}

#again {
  cursor: pointer;
}
